.login-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(200deg,  #4f77b3  50%, #f3f3f3 50%);
}

.login-card {
  width: 420px;
  background: #f3f3f3;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  border: 2px solid #ff3fa4;
  display: flex;
  flex-direction: column;
}

.login-card img{
  height: 40px;
}

.login-title {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  color: #ff00aa;
  margin-bottom: 10px;
}

.login-subtitle {
  text-align: center;
  color: #ff00aa;
  margin-bottom: 30px;
}

.login-input-group {
  margin-bottom: 20px;
}

.login-input-group label {
  display: block;
  margin-bottom: 6px;
  color: #4f77b3;
  font-weight: 500;
}

.login-input-group input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.login-options {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 20px;
}

.login-btn {
  width: 100%;
  padding: 12px;
  background-color: #4f77b3;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}